#highlights{
    background-color: bisque;
}

#home{
    background-color: cadetblue;
}


#carouselTestimonial{
    background-color: cadetblue;
}

.card-body{
    background-color: burlywood;
}

#accordFAQ{
    background-color: burlywood;

}